{% include 'sitio/cabecera.html' %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Nosotros</h4>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta delectus placeat repellat voluptatum aperiam omnis reiciendis similique adipisci architecto nesciunt, ipsum vitae assumenda repellendus ullam reprehenderit iure non eius atque?
        Placeat similique quaerat non nulla ea. Fugit, vitae. Exercitationem quibusdam natus sunt ullam voluptates veniam tenetur, adipisci laborum nemo molestias repellendus vero quidem delectus dolores perferendis inventore rem quia et.
        Provident molestias, blanditiis fuga perferendis nam perspiciatis nulla? Libero qui, dicta beatae doloribus aliquid voluptatibus quia suscipit nam error, incidunt magnam voluptate soluta hic sit pariatur ipsam rerum dolorem quibusdam.
        Rem totam sint vel quaerat nobis temporibus, voluptate ad eveniet tempora, numquam laboriosam repudiandae saepe quam, et corrupti hic sed ut quasi quos veniam non quisquam deleniti repellat ea. Fugit.
        Velit illo, pariatur iusto cum error nemo explicabo expedita voluptatum neque, facilis voluptate, ad asperiores. Magni reprehenderit, doloribus, exercitationem blanditiis magnam expedita laudantium minima sit quidem cumque culpa beatae tempore.</p>
    </div>
    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg" alt="Title">
</div>

{% include 'sitio/pie.html' %}